[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/MariyaRyazhskikh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/MariyaRyazhskikh
	label-Verified = -1..+1 group user/MariyaRyazhskikh
	push = group user/MariyaRyazhskikh
	read = group user/MariyaRyazhskikh
	rebase = group user/MariyaRyazhskikh
	removeReviewer = group user/MariyaRyazhskikh
	submit = group user/MariyaRyazhskikh
[access "refs/heads/*"]
	create = group user/MariyaRyazhskikh
	push = +force group user/MariyaRyazhskikh
	pushMerge = group user/MariyaRyazhskikh
	read = group user/MariyaRyazhskikh
[access "refs/tags/*"]
	push = group user/MariyaRyazhskikh
	push = +force group user/MariyaRyazhskikh
